#title-description{
    position: relative;
}
#title-description img{
    position: absolute;
    left: 90%;
    top: 10%;
}
#services .container .row .img-equipo{
    width: 550px;
    height: 300px;
}